<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags-->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="au theme template">
    <meta name="author" content="Hau Nguyen">
    <meta name="keywords" content="au theme template">

    <!-- Title Page-->
    <title>All Documents</title>

    <!-- Fontfaces CSS-->
    <link href="css/font-face.css" rel="stylesheet" media="all">
    <link href="vendor/font-awesome-4.7/css/font-awesome.min.css" rel="stylesheet" media="all">
    <link href="vendor/font-awesome-5/css/fontawesome-all.min.css" rel="stylesheet" media="all">
    <link href="vendor/mdi-font/css/material-design-iconic-font.min.css" rel="stylesheet" media="all">

    <!-- Bootstrap CSS-->
    <link href="vendor/bootstrap-4.1/bootstrap.min.css" rel="stylesheet" media="all">

    <!-- Vendor CSS-->
    <link href="vendor/animsition/animsition.min.css" rel="stylesheet" media="all">
    <link href="vendor/bootstrap-progressbar/bootstrap-progressbar-3.3.4.min.css" rel="stylesheet" media="all">
    <link href="vendor/wow/animate.css" rel="stylesheet" media="all">
    <link href="vendor/css-hamburgers/hamburgers.min.css" rel="stylesheet" media="all">
    <link href="vendor/slick/slick.css" rel="stylesheet" media="all">
    <link href="vendor/select2/select2.min.css" rel="stylesheet" media="all">
    <link href="vendor/perfect-scrollbar/perfect-scrollbar.css" rel="stylesheet" media="all">

    <!-- Main CSS-->
    <link href="css/theme.css" rel="stylesheet" media="all">

    <!-- Selectize CSS-->
    <link href="css/selectize.css" type="text/css" rel="stylesheet">

    <!-- Pagination CSS-->
    <link href="css/pagination.css" type="text/css" rel="stylesheet">

    <!-- Toastr CSS-->
    <link href="css/toastr.min.css" rel="stylesheet" />

    <!-- PrintJS CSS-->
    <link href="css/print.min.css" rel="stylesheet" media="all">

</head>

<body class="animsition">
    <div class="page-wrapper">
        <%- include navigation.ejs %>
        <!-- PAGE CONTAINER-->
        <div class="page-container">
            <%- include header.ejs %>

            <!-- MAIN CONTENT-->
            <div class="main-content">
                <div class="section__content section__content--p30">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-md-12">
                                <!-- DATA TABLE -->
                                <div>
                                    <h3 class="title-5 m-b-10">All Documents</h3>
                                    <div class="rs-select2--light rs-select2--md">
                                        <select id="year_filter" class="demo-default">
                                            <option value="">Current Year</option>
                                        </select>
                                    </div>
                                </div>

                                <div class="table-data__tool m-t-25">
                                    <div class="table-data__tool-left">
                                        <div class="rs-select2--light rs-select2--md">
                                            <select id="document_filter" class="demo-default">
                                                <option value="">All Documents</option>
                                            </select>
                                        </div>
                                        <div class="rs-select2--light rs-select2--lg">
                                            <select id="type_filter" class="demo-default">
                                                <option value="">Any Type</option>
                                            </select>
                                        </div>

                                        <div class="rs-select2--light rs-select2--lg">
                                            <select id="docno_filter" class="demo-default">
                                                <option value="">Document No.</option>
                                            </select>
                                        </div>

                                        <div class="rs-select2--light rs-select2--300">
                                            <select id="general_filter" class="demo-default">
                                                <option value="">General Search</option>
                                            </select>
                                        </div>
                                    </div>
                                    <!-- <div class="table-data__tool-right">
                                        <i class="zmdi zmdi-refresh au-btn au-btn-icon au-btn--green au-btn--small"></i>

                                        <a class="js-arrow au-btn au-btn-icon au-btn--green au-btn--small" href="#">
                                            Manage Document
                                        </a>

                                        <ul class="navbar-mobile-sub__list list-unstyled js-sub-list border border-success"
                                            style="position: absolute; width: 178px;">
                                            <li class="border-bottom border-success text-center">
                                                <label class="w-100 m-t-10" data-toggle="modal"
                                                    data-target="#modal_receive">
                                                    Receive Docs </label>
                                            </li>
                                            <li class="text-center">
                                                <label class="w-100 m-t-10" data-toggle="modal"
                                                    data-target="#modal_release">
                                                    Release Docs </label>
                                            </li>
                                        </ul>

                                        <button class="au-btn au-btn-icon au-btn--green au-btn--small"
                                            data-toggle="modal" data-target="#modal_document">
                                            <i class="zmdi zmdi-plus"></i>Add Document</button>
                                    </div> -->
                                </div>

                                <div id="loader_container" class="w-100 h-100 text-center">
                                    <div class="loader"></div>
                                </div>

                                <div id="document_container" class="table-responsive table-responsive-data2 m-b-35">
                                    <div>
                                        <table class="table table-data2">
                                            <thead>
                                                <tr>
                                                    <th></th>
                                                    <th>Barcode</th>
                                                    <th>Document No.</th>
                                                    <th>Name</th>
                                                    <th>Description</th>
                                                    <th>Type</th>
                                                    <th>Urgency</th>
                                                    <th class="d-none">Duration</th>
                                                    <th>Remarks</th>
                                                    <th></th>
                                                </tr>
                                            </thead>
                                            <tbody id="table_data">

                                            </tbody>
                                        </table>
                                    </div>
                                </div>

                                <!-- Pager Container -->
                                <div id='pager_parent_container'>
                                    <div class="pager_container d-flex justify-content-center m-t-20"></div>
                                </div>

                                <div id="no_document_container" class="w-100 h-100 m-t-100 text-center d-none">
                                    <img src="images/no_document_icon.png" />
                                </div>

                                <!-- Copyright Container -->
                                <%- include footer.ejs %>

                                <!-- END DATA TABLE -->
                                <!-- Printed Barcode Container -->
                                <div id="barcode_container" class="d-none">
                                    <img id="barcode" style="float: bottom;" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="modal_track" class="modal fade" role="dialog">
        <div class="modal-dialog mxw-1300">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Document Tracking</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body">
                    <div class="table-responsive table-responsive-data2 m-b-35">
                        <table class="table table-data2">
                            <thead>
                                <tr>
                                    <th>Released To</th>
                                    <th>Received By</th>
                                    <th>IN</th>
                                    <th>Released By</th>
                                    <th>OUT</th>
                                    <th>Duration</th>
                                    <th>Remarks</th>
                                </tr>
                            </thead>
                            <tbody id="track_data">

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal -->
    <div id="modal_document" class="modal fade" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content" style="width: 700px;">
                <div class="modal-header">
                    <h4 class="modal-title">Add Document</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body">

                    <div id="error_container"></div>

                    <div class="row">
                        <div class="col-md-6">
                            <label>Name <span class="color-red">*</span></label>
                            <input id="modal_name" type="text" class="au-input au-input--full m-b-10 text-capitalize"
                                style="height: 36px;" />
                        </div>

                        <div class="col-md-6">
                            <label>Type <span class="color-red">*</span></label>
                            <input id="modal_type" type="text" class="au-input au-input--full m-b-10 text-capitalize"
                                style="height: 36px;" />
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <label>Document No. <span class="color-red">*</span></label>
                            <input id="modal_docno" type="text" class="au-input au-input--full m-b-10 text-uppercase"
                                style="height: 36px;" />
                        </div>

                        <div class="col-md-6">
                            <label>Urgency <span class="color-red">*</span></label>
                            <input id="modal_priority" type="text" class="au-input au-input--full m-b-10 text-capitalize"
                                style="height: 36px;" />
                        </div>
                    </div>

                    <label>Description <span class="color-red">*</span></label>
                    <textarea id="modal_description" class="au-input au-input--full m-b-10 text-capitalize"
                        placeholder="Write something here..."></textarea>

                    <label>Remarks </label>
                    <textarea id="modal_remarks" class="au-input au-input--full m-b-10 text-capitalize"
                        placeholder="Write something here..."></textarea>

                    <div class="modal-footer" style="justify-content: center;">
                        <button id="modal_cancel" type="button" class="au-btn au-btn-icon au-btn--blue au-btn--small"
                            data-dismiss="modal">Close</button>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <!-- Jquery JS-->
    <script src="vendor/jquery.min.js"></script>
    <!-- Bootstrap JS-->
    <script src="vendor/bootstrap-4.1/popper.min.js"></script>
    <script src="vendor/bootstrap-4.1/bootstrap.min.js"></script>
    <!-- Vendor JS       -->
    <script src="vendor/slick/slick.min.js">
    </script>
    <script src="vendor/wow/wow.min.js"></script>
    <script src="vendor/animsition/animsition.min.js"></script>
    <script src="vendor/bootstrap-progressbar/bootstrap-progressbar.min.js">
    </script>
    <script src="vendor/counter-up/jquery.waypoints.min.js"></script>
    <script src="vendor/counter-up/jquery.counterup.min.js">
    </script>
    <script src="vendor/circle-progress/circle-progress.min.js"></script>
    <script src="vendor/perfect-scrollbar/perfect-scrollbar.js"></script>
    <script src="vendor/select2/select2.min.js">
    </script>

    <!-- Toastr JS -->
    <script src="js/toastr.min.js"></script>

    <script src="js/main.js"></script>
    <script src="js/barcode.min.js"></script>
    <script src="js/moment.js"></script>
    <script src="js/print.min.js"></script>
    <script src="js/selectize.min.js"></script>
    <script src="js/pagination.js"></script>
    <script src="js/all_documents.js"></script>
</body>

</html>
<!-- end document-->