<div class="row w-100">
    <div class="col-md-12">
        <div class="copyright footer">
            <p> © 2019 <a href="http://example.net">Vicente Sotto Memorial Medical Center</a>, Region VII</p>
        </div>
    </div>
</div>