<!-- HEADER MOBILE-->
<div class="banner">
    <img class="banner" src="images/vsmmc_banner.png">
</div>

<header class="header-mobile d-block d-lg-none">
    <div class="header-mobile__bar">
        <div class="container-fluid">
            <div class="header-mobile-inner">
                <!-- <img src="images/vsmmc-logo.png" class="vsmmc-logo" /> -->
                <!-- <img src="images/vsmmc-text-logo.png" class="vsmmc-text"> -->

                <button class="hamburger hamburger--slider float-left" type="button">
                    <span class="hamburger-box">
                        <span class="hamburger-inner"></span>
                    </span>
                </button>
            </div>
        </div>
    </div>
    <nav class="navbar-mobile">
        <div class="container-fluid">
            <ul class="navbar-mobile__list list-unstyled">
                <li>
                    <a href="dashboard">
                        <i class="fas fa-tachometer-alt"></i>
                        Dashboard
                    </a>
                </li>

                <li>
                    <a href="documents">
                        <i class="fas fa-file"></i>
                        My Documents
                    </a>
                </li>

                <li id="nav_all_docs_mobile">
                    <a href="all_documents">
                        <i class="fas fa-folder-open"></i>
                        All Documents
                    </a>
                </li>
            </ul>
        </div>
    </nav>
</header>
<!-- END HEADER MOBILE-->

<!-- MENU SIDEBAR-->
<aside class="menu-sidebar d-none d-lg-block">
    <div class="logo">
        <!-- <img src="images/vsmmc-logo.png" class="vsmmc-logo" /> -->
        <img src="images/vsmmc-text-logo.png" class="vsmmc-text m-auto">
        
    </div>
    <div class="menu-sidebar__content js-scrollbar1">
        <nav class="navbar-sidebar">
            <ul class="list-unstyled navbar__list">
                <li>
                    <a href="dashboard">
                        <i class="fas fa-tachometer-alt"></i>
                        Dashboard
                    </a>
                </li>
                <li>
                    <a href="documents">
                        <i class="fas fa-file"></i>
                        My Documents
                    </a>
                </li>

                <li id="nav_all_docs">
                    <a href="all_documents">
                        <i class="fas fa-folder-open"></i>
                        All Documents
                    </a>
                </li>
            </ul>
        </nav>
    </div>
</aside>
<!-- END MENU SIDEBAR-->